body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover:not(thead tr) {
  background-color: #e7f7a5;
}
